<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="{{site.name}}">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/+{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div></br>
    <a href="http://stackoverflow.com/users/3098330/vkatz">
        <img src="http://stackoverflow.com/users/flair/3098330.png?theme=dark" class="stack_img" style="border-radius: 0px" width="208" height="58" alt="profile for VKatz at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for VKatz at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</section>
